@import-normalize;


:root{
    --green: #1D8E63;
}

@font-face {
    font-family: "LibreCaslonRegular";
    src: local("LibreCaslonText-Regular"), url(./Assets/fonts/LibreCaslonText-Bold.ttf) format('opentype');
}

@font-face {
    font-family: "LibreCaslonItalic";
    src: local("LibreCaslonText-Italic"), url(./Assets/fonts/LibreCaslonText-Italic.ttf) format('opentype');
}

@font-face {
    font-family: "LibreCaslonBold";
    src: local("LibreCaslonText-Bold"), url(./Assets/fonts/LibreCaslonText-Bold.ttf) format('opentype');
}


body{
    background-color: var(--green);
    scrollbar-color: white var(--green);
    letter-spacing: .04rem;
    font-kerning: normal;
}

p{
    color: white;
    font-family: libreCaslonRegular;
    font-size: 10pt;
    line-height: 18pt;
}

h1{
    color: white;
    font-size: 40pt;
    font-family: libreCaslonBold;
    line-height: 38pt;
}

h2{
    color: white;
    font-family: libreCaslonItalic;
    font-size: 22pt;
    line-height: 22pt;
}

h3{
    color: white;
    font-family: libreCaslonBold;
    font-size: 12pt;
}

h4 {
    color:  white;
    font-family: libreCaslonItalic;
    font-size: 12pt;
}

a{
    text-decoration: none;
}